body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1.title {
  font-size: 36px;
  color: rgb(115, 115, 194);
}
form {
  margin-bottom: 30px;
}
form .search-form {
  font-size: 18px;
  border-radius: 5px;
}
form .submit-button {
  font-size: 18px;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(115, 115, 194);
}
form .submit-button:hover {
  color: rgb(115, 115, 194);
  background-color: #fff;
  cursor: pointer;
}
ul.weather-display {
  position: relative;
  font-size: 20px;
  padding: 10px 40px 20px 40px;
  list-style-type: none;
  border: rgb(115, 115, 194) solid 4px;
  background-color: #fff;
  border-radius: 30px;
  width: 400px;
  min-height: 275px;
  margin: 0 auto;
}
h2 .city-display,
li.date,
li.temp,
li.description,
li.humidity,
li.wind,
li.icon {
  position: absolute;
}
h2.city-display {
  left: 30px;
  max-width: 300px;
  text-transform: capitalize;
  color: rgb(115, 115, 194);
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.weather-display li {
  text-align: left;
  left: -20px;
}
li.date {
  left: 41px;
  top: 65px;
}
.weather-display li span.celsius,
.weather-display li span.farhenheit {
  color: #000;
  display: inline-flex;
  width: 38px;
  font-size: 14px;
  position: absolute;
  top: 2px;
}
.weather-display li span.units a {
  cursor: pointer;
  text-decoration: none;
}
.weather-display li span.active {
  color: rgb(115, 115, 194);
}
.weather-display li.temp {
  font-weight: 600;
  font-size: 44px;
  left: 141px;
  top: 129px;
}
.weather-display li.description {
  text-transform: capitalize;
  top: 95px;
  left: 41px;
}
.weather-display img {
  position: absolute;
  left: 20px;
  top: 105px;
}
li.humidity,
li.wind {
  font-size: 17px;
  color: #aeadac;
  top: 134px;
  left: 250px;
}
li.wind {
  top: 157px;
}
li.icon {
  position: inherit;
  top: 65px;
  left: 12px;
}
.github,
.github a {
  color: rgb(115, 115, 194);
  font-size: 16px;
  text-decoration: none;
}
.github a:hover {
  color: #000;
  text-decoration: underline;
}
@media only screen and (max-width: 500px) {
  ul.weather-display {
    width: 300px;
    min-height: 300px;
    padding: 10px;
  }
  li.date,
  .weather-display li.description {
    left: 24px;
  }
  .weather-display li.temp {
    left: 99px;
  }
  li.humidity,
  li.wind {
    left: 200px;
  }
  li.humidity {
    top: 128px;
  }
}
@media only screen and (max-width: 312px) {
  .weather {
    height: 400px;
  }
  h1.title {
    font-size: 20px;
  }
  form .search-form,
  form .submit-button {
    font-size: 15px;
  }
  ul.weather-display {
    width: 275px;
  }
  li.icon {
    left: 7px;
  }
  .weather-display li.temp {
    left: 80px;
  }
  li.humidity,
  li.wind {
    left: 175px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
